<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="title">
    <title>도서 정보 수정</title>
  </th:block>

  <div layout:fragment="content">
    <h3>Book Modify</h3>
    <form method="post">
      <!-- 경로 안써주면 현재 주소로 인식 -->
      <div class="mb-3">
        <label for="code" class="form-label" name="code">Code</label>
        <input type="text" class="form-control" id="code" th:value="${book.code}" name="code" readonly />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label" name="code">Title</label>
        <input type="text" class="form-control" id="title" th:value="${book.title}" name="title" readonly />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label" name="code">Author</label>
        <input type="text" class="form-control" id="author" th:value="${book.author}" name="author" readonly />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label" name="code">Price</label>
        <input type="text" class="form-control" id="price" name="price" th:value="${book.price}" />
      </div>
      <button type="submit" class="btn btn-primary">수정</button>
      <!-- submit: 본인이 포함된 form을 서버에 보냄 -->
      <button type="button" class="btn btn-danger">삭제</button>
      <a
        th:href="@{/book/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
        class="btn btn-success"
        >목록</a
      >
    </form>

    <form th:action="@{/book/remove}" method="post" id="actionForm">
      <input type="hidden" name="code" th:value="${book.code}" />
      <input type="hidden" name="page" th:value="${pageRequestDTO.page}" />
      <input type="hidden" name="size" th:value="${pageRequestDTO.size}" />
      <input type="hidden" name="type" th:value="${pageRequestDTO.type}" />
      <input type="hidden" name="keyword" th:value="${pageRequestDTO.keyword}" />
    </form>
  </div>

  <th:block layout:fragment="script">
    <script th:src="@{/js/modify.js}"></script>
  </th:block>
</html>
