<!DOCTYPE html>
<html lang="en" layout:decorate="~{layouts/layout}">
  <th:block layout:fragment="css"></th:block>
  <th:block layout:fragment="title">
    <title>도서 상세 조회</title>
  </th:block>

  <div layout:fragment="content">
    <!-- 본문내용 -->
    <h3>Book Read</h3>
    <form>
      <div class="mb-3">
        <label for="code" class="form-label" name="code">Code</label>
        <input type="text" class="form-control" id="code" th:value="${book.code}" readonly />
      </div>
      <div class="mb-3">
        <label for="title" class="form-label" name="title">Title</label>
        <input type="text" class="form-control" id="title" th:value="${book.title}" readonly />
      </div>
      <div class="mb-3">
        <label for="author" class="form-label" name="author">Author</label>
        <input type="text" class="form-control" id="author" th:value="${book.author}" readonly />
      </div>
      <div class="mb-3">
        <label for="price" class="form-label" name="price">Price</label>
        <input type="text" class="form-control" id="price" th:value="${book.price}" readonly />
      </div>
      <a
        th:href="@{/book/modify(code=${book.code},page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword})}"
        class="btn btn-primary"
        >수정</a
      >
      <a
        th:href="@{/book/list(page=${pageRequestDTO.page}, size=${pageRequestDTO.size}, type=${pageRequestDTO.type}, keyword=${pageRequestDTO.keyword} )}"
        class="btn btn-success"
        >목록</a
      >
    </form>
  </div>

  <th:block layout:fragment="script"></th:block>
</html>
